/node_modules
/public/hot
/public/storage
/public/img
/storage/*.key
/vendor
/public/adminlte
/public/css
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
